name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pip install poetry
          poetry install
      - name: Lint & Type-check
        run: |
          poetry run black --check .
          poetry run mypy .
      - name: Run tests
        run: poetry run pytest advance_level/laboratory16/tests/
      - name: Build wheel
        run: poetry build
